.right-sidebar {
    min-width: 280px;
    max-width: 280px;
    padding: 20px;
    //background-color: #1C274A;
    background-color: #535353;
    border: 1px solid #282828;
    margin: 1px;
    color: #f0f0f0;

    .container {
        padding: 0 15px;
    }

    .sub-title {
        font-size: 14px;
    }

    .divider {
        background-color: white;
        margin: 0 0 10px 0;
    }

    label {
        //color: gray;
        color: #bcbcbc;
        min-width: 100px;
    }

    input {
        color: #f0f0f0;
        background-color: #535353;
    }
}
