.left-scene-view {
    min-width: 200px;
    max-width: 200px;
    border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;
    height: 30px;
    color: white;
    padding: 0 10px;
    font-size: 1rem;

    .title {
        span {
            font-size: 1rem;
            margin-left: 10px;
        }
    }
}
