.top-view {
    min-height: 40px;
    max-height: 40px;
    background: #2A2A2A;
    color: white;

    .drag-icon {
        margin-left: 50px;
    }
    .btn-publish {
        padding: 0.1rem 0.5rem;
        font-size: 0.9rem;
        &:hover {
            color: black !important;
            background-color: #f0f0f0;
        }
    }
}
